.menu-opener {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 3px;
    vertical-align: top;

    @include media(">=tablet") {
        display: none;
    }

    span,
    &::after,
    &::before {
        background: $yellow;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 25%;
        right: 25%;
        height: 3px;
        margin-top: -2px;
        transition: all 0.3s linear;
    }

    &::after,
    &::before {
        content: "";
        top: 30%;
    }

    &::after {
        top: 70%;
    }

    &:focus {
        outline: none;
    }
}

.mobile-menu-active {

    span {
        opacity: 0;
    }

    .menu-opener {
        &::after,
        &::before {
            transform: rotate(-45deg);
            top: 50%;
            left: 15%;
            right: 15%;
        }

        &::after {
            transform: rotate(45deg);
        }
    }
}

.menu {
    @extend %listreset;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out,
        background-color 0.3s ease-in-out, color 0.45s ease-in-out;
    height: 100vh;
    z-index: 4;

    li {
        border-top: 1px solid $yellow;

        &:last-child {
            border-bottom: 1px solid $yellow;

            @include media(">=tablet") {
                border: none;
            }
        }

        @include media(">=tablet") {
            border: none;
        }
    }

    @include media(">=tablet") {
        transform: translateX(0);
        height: 100%;
        opacity: 1;
        visibility: visible;
        display: flex;
        align-items: center;
        position: static;
    }

    .mobile-menu-active & {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        background-color: $dark-gray;
    }
}

.nav {

    a {
        text-decoration: none;
        display: block;
        padding: 20px 10px;
        color: $white;
        transition: color 0.4s ease-in-out;

        &:hover {
            color: $yellow;
        }

        &.active {
            color: $yellow;
        }

        @include media(">=tablet") {
            padding: 0 13px;
            max-width: 200px;

            &:hover {
                color: $yellow;
            }

            &.active {
                color: $yellow;
            }
        }
    }

    li {
        @include media(">=tablet") {
            padding: 0 10px;
        }

        @include media(">=desktop") {
            padding: 0 20px;
        }
    }
}

.dropdown {
    position: relative;
    display: block;

    @include media(">=tablet") {
    margin: -25px 0;
    }

    &:hover {
        .dropbtn {
        color: $yellow;
        }

        .dropdown-content {
            display: block;
        }
    }

    .dropbtn {
        background-color: transparent;
        position: relative;
        color: $white;
        border: none;
        padding: 20px 10px;
        cursor: pointer;
        transition: color .3s ease-in-out;
    
        @include media(">=tablet") {
            padding: 25px 4px;
        }

        &::after {
            content: "\f107";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $white-200;
        min-width: 200px;
    
        @include media(">=tablet") {
            top: 68px;
            left: -1px;
            min-width: 100px;
        }

        a {
            color: $black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            transition: background-color .3s ease-in-out;

            &:hover {
                color: $yellow;
                background-color: $white-100;
            }
        }
    }
}


